<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="validation" type="Microsoft.Practices.EnterpriseLibrary.Validation.Configuration.ValidationSettings, Microsoft.Practices.EnterpriseLibrary.Validation, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
  </configSections>
  <validation>
    <type defaultRuleset="ValidacaoBasica" assemblyName="NetMag.Validation.Entidades, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
      name="NetMag.Validation.Entidades.Participante">
      <ruleset name="ValidacaoBasica">
        <properties>
          <property name="Comentarios" />
          <property name="DataInscricao">
            <validator lowerBound="2009-05-01" lowerBoundType="Inclusive"
              upperBound="2009-05-31" upperBoundType="Inclusive" negated="false"
              messageTemplate="Data de inscrição fora do prazo permitido"
              messageTemplateResourceName="" messageTemplateResourceType=""
              tag="" type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.DateTimeRangeValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
              name="Checa se a data de inscrição está no prazo permitido" />
          </property>
          <property name="DataNascimento" />
          <property name="Email" />
          <property name="MeioComunicacao">
            <validator negated="false" messageTemplate="O meio de confirmação informado possui um valor não permitido."
              messageTemplateResourceName="" messageTemplateResourceType=""
              tag="" type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.DomainValidator`1[[System.Object, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089]], Microsoft.Practices.EnterpriseLibrary.Validation, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
              name="Verifica se o meio de comunicação informado é válido">
              <domain>
                <add name="Revista .Net Magazine" />
                <add name="E-mail" />
                <add name="Indicação de um amigo" />
                <add name="Outros" />
              </domain>
            </validator>
          </property>
          <property name="Nome" />
          <property name="Voucher" />
        </properties>
      </ruleset>
    </type>
  </validation>
</configuration>